#include <windows.h>

1 VERSIONINFO
FILEVERSION     ${PROJ_VERSION_COMMA},0
PRODUCTVERSION  ${PROJ_VERSION_COMMA},0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments",         "${DIAG_STR}\0"
			VALUE "CompanyName",      "Silas Parker\0"
			VALUE "FileDescription",  "WMI GUI\0"
			VALUE "FileVersion",      "${PROJ_VERSION}\0"
			VALUE "InternalName",     "wmiviewer\0"
			VALUE "OriginalFilename", "wmiviewer.exe\0"
			VALUE "ProductName",      "WMI Viewer\0"
			VALUE "ProductVersion",   "${PROJ_VERSION}\0"
			VALUE "LegalCopyright",   "Silas Parker\0"
		END
	END
	BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0809, 1200
    END
END
