<?xml version="1.0"?>
<?define ProductName="WMI Viewer"?>
<?define Manufacturer="Silas Parker"?>
<?define Description="WMI GUI"?>
<?define upgradeCode="ca6ef6d7-0881-481c-ad53-6017c6e3f5c2"?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.thisVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.upgradeCode)">
		<Package Description="$(var.Description)" Manufacturer="$(var.Manufacturer)" InstallerVersion="301" Compressed="yes" InstallScope="perMachine"/>
		<Media Id="1" Cabinet="wmiviewer.cab" EmbedCab="yes"/>

		<MajorUpgrade
			DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="APPLICATIONROOTDIRECTORY" Name="$(var.ProductName)"/>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
			</Directory>
		</Directory>
<!--
		<Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
		<UIRef Id="WixUI_InstallDir" />

		<Property Id="ARPHELPLINK" Value="https://code.google.com/p/wmi-viewer/"/>
		<WixVariable Id="WixUILicenseRtf" Value="$(var.SRCDIR)\package\gpl3.rtf" />
-->
		<DirectoryRef Id="APPLICATIONROOTDIRECTORY">
			<Component Id="wmiviewer.exe" Guid="*"><File Source="$(var.BINDIR)\gui\wmiviewer.exe" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="qtwmiwrapper.dll" Guid="*"><File Source="$(var.BINDIR)\wmi\qtwmiwrapper.dll" KeyPath="yes" Checksum="yes"/></Component>
			
			<Component Id="QtCore4.dll" Guid="*"><File Source="$(var.QTDIR)\QtCore4.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="QtGui4.dll" Guid="*"><File Source="$(var.QTDIR)\QtGui4.dll" KeyPath="yes" Checksum="yes"/></Component>

			<Component Id="gpl3.txt" Guid="*"><File Source="$(var.SRCDIR)\package\gpl3.txt" KeyPath="yes"/></Component>
			
		</DirectoryRef>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="*">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Description="$(var.Description)" Target="[APPLICATIONROOTDIRECTORY]wmiviewer.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
				<RemoveRegistryKey Action="removeOnUninstall" Root="HKCU" Key="Software\$(var.ProductName)"/>
			</Component>
		</DirectoryRef>

		<Feature Id="wmiviewer" Title="Application" Level="1" Absent="disallow" AllowAdvertise="no">
			<ComponentRef Id="wmiviewer.exe"/>
			<ComponentRef Id="qtwmiwrapper.dll"/>
			
			<ComponentRef Id="QtCore4.dll"/>
			<ComponentRef Id="QtGui4.dll"/>

			<ComponentRef Id="gpl3.txt"/>
			
			<ComponentRef Id="ApplicationShortcut"/>
			
		</Feature>

	</Product>
</Wix>